<!--
  Generated template for the ShutterActionListItem component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-item>
  <ion-icon name="menu" item-left></ion-icon>
  <span (click)="select(shutter)" item-inner>{{ shutter.name }}</span>
  <span item-right>
    <ion-icon name="arrow-dropdown-circle" (click)="action(2)" class="largeicon"></ion-icon>
  </span>
  <span item-right>
    <ion-icon name="close-circle" (click)="action(0)" class="largeicon"></ion-icon>
  </span>
  <span item-right>
    <ion-icon name="arrow-dropup-circle" (click)="action(1)" class="largeicon"></ion-icon>
  </span>
</ion-item>
