<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Group</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>Details</h3>
  <form [formGroup]="groupForm" (submit)="saveGroup($event)">
    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="type" [(ngModel)]="type" (ionChange)="changeType($event)" [disabled]="existing">
          <ion-option value="1">Light</ion-option>
          <ion-option value="2">Shutter</ion-option>
        </ion-select>
      </ion-item>
      <ion-item [class.error]="!name.valid && name.touched">
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
    </ion-list>

    <h2>Available {{ group.type == 1 ? "Lights" : "Shutters" }}</h2>
    <light-selection-list
        *ngIf="group.type === 1"
        [components]="components"
        [group]="group"
        [selected]="selected"
      >
    </light-selection-list>
    <shutter-selection-list
        *ngIf="group.type === 2"
        [components]="components"
        [group]="group"
        [selected]="selected"
      >
    </shutter-selection-list>
    <button type="submit">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>

</ion-content>
